<li>
  <%= challenge.challenging_player %> vs. <%= challenge.challenged_player %>
  <% if challenge.play_date %>
      on <%= challenge.play_date %>
  <% end %>
  at <%= challenge.location %>
  <p>
    Reason:
    <%= challenge.comment %>
  </p>
  <p>
    <%= link_to 'Accept Reason', accept_reason_path(challenge_id: challenge.id), method: :post, class: 'button' %>
    <%= link_to 'Deny Reason', deny_reason_path(challenge_id: challenge.id), method: :post, class: 'button alert' %>
  </p>
</li>
