<li>
  <%= challenge.challenging_player %> vs. <%= challenge.challenged_player %>
  <% if challenge.play_date %>
      on <%= challenge.play_date %>
  <% end %>
  at <%= challenge.location %>
  <p>
    Reason:
    <%= challenge.comment %>
  </p>
  <p>
    <%= link_to 'Accept Reason', accept_reason_path,  class: 'button', challenge_id: challenge.id %>
    <%= link_to 'Deny Reason', deny_reason_path, method: :post, class: 'button alert', challenge_id: challenge.id %>
  </p>
</li>